/* Add your custom extension styling here */

.clippie-search-entry {
  /* width: 320px; */
  padding: 7px 9px;
  border-radius: 18px;
}

.clippie-search-menu {
  padding: 10px;
  border: 0px;
  vertical-align: middle;
}

.clippie-prefs {
  border-right: 0px;
  border-left: 20px;
  vertical-align: middle;
}

.clippie-quick-layout {
  padding: 0px;
  spacing: 5px;
}

.clippie-menu-box {
  padding: 0px;
  /*spacing: 10px;*/
}

.clippie-menu-icon {
  border-right: 10px;
  icon-size: 1.2em;
}

.clippie-menu-label {
  border-right: 10px;
  font-family: monospace;
  font-size: smaller;
  border-top: 1px;
  border-bottom: 1px;
}

.clippie-menu-delete-icon {
  border-left: 10px;
  icon-size: 1em;
}

.clippie-menu-lock-icon {
  border-left: 0px;
  border-right: 15px;
  icon-size: 1em;
}

.clippie-menu-content {
  font-weight: normal;
  font-size: smaller;
  font-family: monospace;
  border-right: 0px;
}

.clippie-panel-box {
  spacing: 4px;
}

.clippie-panel-label {
  font-weight: normal;
  font-stretch: normal;
  font-family: monospace;
  font-size: smaller;
}

.clippie-panel-name {
  font-weight: lighter;
  font-stretch: condensed;
  font-family: sans-serif;
  font-size: smaller;
}


